div.challenge_description, div.code_editor {
  float: left;
  display: block;
  height: 100vh;
  box-sizing: border-box;
  overflow-y: scroll;
}
div.challenge_description {
  width: 30%;
  border-right: 0.35rem solid white;
  padding: 2.5rem;
  padding-top: 7.5rem;
  position: relative;
}
div.challenge_description strong.title {
  font-size: 2.75rem;
  margin-bottom: 1rem;
  display: block;
  word-wrap: break-word;
  line-height: 1.35;
}
div.challenge_description p {
  text-align: justify;
  font-size: 1.65rem;
  line-height: 1.85;
}
div.challenge_description code,div.run_info_area div.test div.test_content code {
  background-color: transparent;
  white-space: pre;
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', monospace;
}

div.challenge_description div.bottom_area {
  position: fixed;
  bottom: 0;
  left: 0;
  width: calc(30% - 0.35rem);
  height: 4rem;
  line-height: 4rem;
  font-size: 1.75rem;
}
div.challenge_description div.bottom_area span {
  height: 5rem;
  padding: 0 1.625rem;
  display: block;
  float: right;
}
div.challenge_description div.bottom_area span.difficulty {
  text-transform: uppercase;
  float: left;
}
div.challenge_description div.bottom_area span.difficulty.easy {
  background-color: var(--easy-color);
}
div.challenge_description div.bottom_area span.difficulty.medium {
  background-color: var(--medium-color);
}
div.challenge_description div.bottom_area span.difficulty.hard {
  background-color: var(--hard-color);
}
div.code_editor {
  width: calc(70% - 7.75rem);
  background-color: #222;
}
div.code_editor .ace_gutter {
  background-color: #222;
}
div.code_editor .ace_print-margin {
  display: none;
}
div.code_editor .ace_search {
  font-size: 1.65rem;
}
div.bottom_buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 7.75rem;
  display: block;
}
div.bottom_buttons button {
  height: 4.5rem;
  line-height: 4.5rem;
  color: white;
  border: none;
  background-color: var(--easy-color);
  border-radius: 0;
  padding: 0;
  width: 100%;
  margin: 0;
  font-size: 1.5rem;
}
div.bottom_buttons button:hover{
  opacity: 0.75;
}
div.run_info_area {
  width: calc(70% - 7.75rem);
  height: 100vh;
  position: fixed;
  right: 7.75rem;
  top: 0;
  z-index: 9997;
  background-color: #222;
  padding: 2.5rem;
  box-sizing: border-box;
  overflow-y: scroll;
}
div.run_info_area:not(.opened){
  display: none;
}
div.run_info_area h1 {
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: normal;
  background-color: var(--hard-color);
  display: block;
  float: left;
  line-height: 1;
  padding: 3.5rem;
  margin: 0;
}
div.run_info_area h1.success {
  background-color: var(--easy-color);
}

div.run_info_area div.test {
  width: 100%;
  margin-top: 2.5rem;
  float: left;
  clear: both;
  background-color: #444;
}
div.run_info_area div.test div.top_area {
  height: 5rem;
  box-sizing: border-box;
  padding: 1rem;
}
div.run_info_area div.test div.top_area span.arrow,div.run_info_area div.test div.top_area span.success_status {
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  background-image: url(../img/arrow_right.png);
  background-repeat: no-repeat;
  background-size: 2rem;
  background-position: center center;
  display: block;
  float: left;
  margin-right: 0.5rem;
}
div.run_info_area div.test div.top_area span.arrow.down {
  background-image: url(../img/arrow_down.png);
  margin-right: 0.75rem;
}
div.run_info_area div.test div.top_area p {
  height: 3rem;
  line-height: 3rem;
  font-size: 1.6rem;
  margin: 0;
  display: inline-block;
}
div.run_info_area div.test div.top_area span.success_status {
  float: right;
  margin: 0;
  background-size: 1.5rem;
  border-radius: 50%;
  cursor: default;
}
div.run_info_area div.test div.top_area span.success_status.success {
  background-image: url(../img/check.png);
  background-color: var(--easy-color);
}
div.run_info_area div.test div.top_area span.success_status.fail {
  background-image: url(../img/fail.png);
  background-color: var(--hard-color);
}

div.run_info_area div.test div.test_content {
  padding: 1rem;
  padding-top: 0;
}

div.run_info_area div.test div.test_content:not(.opened) {
  display: none;
}
div.run_info_area div.test div.test_content p {
  margin: 1rem 0;
  margin-left: 1rem;
}
div.run_info_area div.test div.test_content p code.true {
  border-color: var(--hard-color);
  background-color: var(--hard-color);
}
div.run_info_area div.test div.test_content p code {
  max-width: calc(100% - 1.4rem);
  display: inline-block;
  box-sizing: border-box;
  overflow-x: auto;
  vertical-align: bottom;
}

div.run_info_area a.extra_button {
  height: 4.5rem;
  line-height: 4.5rem;
  color: white;
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  display: block;
  float: right;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 1.5rem;
  letter-spacing: .08rem;
  margin-right: 7rem;
}
div.run_info_area a.extra_button.fail {
  background-color: var(--hard-color);
}
div.run_info_area a.extra_button.success {
  background-color: var(--easy-color);
}
div.run_info_area a.extra_button:hover{
  opacity: 0.75;
}
div.challenge_description a.menulink_top_left {
  left: 2rem;
}
div.challenge_description a.menulink_top_left, div.challenge_description div.menulink_top_right {
  height: 3.5rem;
  width: 3.5rem;
  margin-bottom: 1.5rem;
  display: block;
  position: absolute;
  top: 2rem;
}
div.challenge_description a.menulink_top_left svg, div.challenge_description div.menulink_top_right svg {
  height: 3.5rem;
  width: 3.5rem;
  fill: #fff;
}
div.challenge_description a.menulink_top_left svg {
  transform: scale(-1, 1);
}

div.challenge_description div.menulink_top_right svg {
  width: 2rem;
  height: 2rem;
}
div.challenge_description div.menulink_top_right {
  background-color: var(--easy-color);
  border-radius: 50%;
  box-sizing: border-box;
  padding: 1.125rem 1rem;
  height: 4rem;
  width: 4rem;
  right: 1.75rem;
  top: 1.75rem;
}

a.minimize_run_info_area,a.maximize_run_info_area {
  height: 4.5rem;
  width: 4.5rem;
  position: absolute;
  bottom: 0;
  right: 2.5rem;
  background-color: #444;
  z-index: 9998;
  background-image: url(../img/up.png);
  background-size: 2.5rem;
  background-position: center;
  background-repeat: no-repeat;
}
a.maximize_run_info_area {
  right: 10.25rem;
}
a.maximize_run_info_area:not(.ran), div.run_info_area.opened ~ a.maximize_run_info_area{
  display: none;
}
a.minimize_run_info_area:hover, a.maximize_run_info_area:hover {
  opacity: 0.75;
}
div.run_info_area.opened a.minimize_run_info_area {
  top: 2.5rem !important;
  background-image: url(../img/minimize.png);
}
