@import url(//fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(//fonts.googleapis.com/css?family=Open+Sans:800);

:root {
  --easy-color: #27ae60;
  --medium-color: #f39c12;
  --hard-color: #c0392b;
}

a.main_logo_top_right {
  position: fixed;
  width: 5rem;
  height: 5rem;
  right: 0.25rem;
  top: 0;
  padding: 1.25rem;
  background-color: #222;
  display: block;
  background-image: url("../img/main_logo_white.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5rem;
  z-index: 9999;
}
